@font-face
{
    font-family: SpaceMono Regular;
    src: url(../resources/font/SPACEMONO-REGULAR.TTF);
}

body
{
    margin: 0px;

    background-color: black;
    color: white;
    font-family: SpaceMono Regular;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: yellow;
}

#language-selectorEN
{
    grid-row: 1;
    grid-column: 3;

    margin-top: 10px;
    margin-right: 30px;

    font-size: 1.2em;
}

#language-selectorIT
{
    grid-row: 1;
    grid-column: 3;

    margin-top: 10px;
    margin-right: 30px;

    font-size: 1.2em;
}

#notes-selector
{
    grid-row: 1;
    grid-column: 3;

    margin-top: 50px;
    margin-right: 30px;

    font-size: 1.2em;
}

#about-selector
{
    grid-row: 1;
    grid-column: 3;

    margin-top: 90px;
    margin-right: 30px;

    font-size: 1.2em;
}

#back-selector
{
    grid-row: 1;
    grid-column: 3;

    margin-top: 10px;
    margin-right: 30px;

    font-size: 1.2em;
}

#parent-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    width: 100vw;
    height: 100vh;

    content: center;
}

#about-container
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;

    width: 100vw;
    height: 100vh;
    overflow: scroll;

    content: center;
}

#menu-container
{
    grid-row: 1;
    grid-column: 3;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    width: 100%;
    height: 100%;

    text-align: right;
}

#scene
{
    grid-row: 2;
    grid-column: 2;

    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.floating-title 
{
    position: absolute;
    padding: 0.5em 1em;

    cursor: pointer;
    transition: top 2s ease, left 2s ease;
    z-index: 10;
    user-select: none;

    font-family: SpaceMono Regular;
    font-size: 2em;
}

.floating-title:hover 
{
    color: yellow;
}